
header{
  
  text-align: center;

}

body{
  margin: 0;
  text-align: center;
}

/*

Grid 1

*/


.Acontainer{

  background-color: slategray;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 4fr 4fr 4fr 4fr 4fr 2fr;

  grid-template-areas: 
  "Aheader Aheader Aheader Aheader Aheader Aheader Aheader Aheader Aheader Aheader Aheader Aheader"
  "Asidebara1 Asidebara1 Asidebara1 Asidebara1 Asidebara1 Asidebara1 Asidebara2 Asidebara2 Asidebara2 Asidebara2 Asidebara2 Asidebara2"
  "Amaina Amaina Amaina Amaina Amaina Amaina Amaina Amaina Amaina Aaside Aaside Aaside"
  "Asidebarb1 Asidebarb1 Asidebarb1 Asidebarb1 Asidebarb2 Asidebarb2 Asidebarb2 Asidebarb2 Asidebarb3 Asidebarb3 Asidebarb3 Asidebarb3"
  "Amainb Amainb Amainb Amainb Amainb Amainb Amainb Amainb Amainb Amainb Amainb Amainb"
  "Afooter Afooter Afooter Afooter Afooter Afooter Afooter Afooter Afooter Afooter Afooter Afooter";

  height: 100vh;
  grid-gap: 0px;

}

.Aheader{

  grid-area: Aheader;
  background-color: red;

}

.Asidebara1{

  grid-area: Asidebara1;
  background-color: orange;

}

.Asidebara2{

  grid-area: Asidebara2;
  background-color: yellow;

}

.Amaina{

  grid-area: Amaina;
  background-color: green;

}

.Aaside{

  grid-area: Aaside;
  background-color: blue;

}

.Asidebarb1{

  grid-area: Asidebarb1;
  background-color: indigo;

}

.Asidebarb2{

  grid-area: Asidebarb2;
  background-color: purple;

}

.Asidebarb3{

  grid-area: Asidebarb3;
  background-color: red;

}

.Amainb{

  grid-area: Amainb;
  background-color: orange;

}

/*

Responsive

*/

@media (max-width: 1000px){
  .Acontainer{

    background-color: slategray;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 2fr;

    grid-template-areas: 
    "Aheader"
    "Asidebara1"
    "Asidebara2"
    "Amaina"
    "Aaside"
    "Asidebarb1"
    "Asidebarb2"
    "Asidebarb3"
    "Amainb"
    "Afooter";

    height: 100vh;
    grid-gap: 0px;


  }
}

/*

Grid 2

*/

.Bcontainer{

background-color: slategray;
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 4fr 4fr 4fr 4fr 4fr 2fr;

grid-template-areas: 
"Bsmalla1 Bsmalla1 Bsmalla1 Bmeda1 Bmeda1 Bmeda1 Bmeda1 Bmeda1 Bmeda1 Bsmalla2 Bsmalla2 Bsmalla2"
"Bheadera1 Bheadera1 Bheadera1 Bheadera1 Bheadera1 Bheadera1 Bheadera1 Bheadera1 Bheadera1 Bheadera1 Bimga1 Bimga1"
"Bmaina1 Bmaina1 Bmaina1 Bmaina1 Bmaina1 Bmaina1 Bmaina1 Bmaina1 Bmaina1 Bsidebara1 Bsidebara1 Bsidebara1"
"Bquotea1 Bquotea1 Bquotea1 Bquotea1 Bquotea1 Bquotea1 Bquotea1 Bquotea1 Bquotea1 Bsidebara1 Bsidebara1 Bsidebara1"
"Bsmallb1 Bsmallb1 Bmedb1 Bmedb1 Bmedb1 Bsmallb2 Bsmallb2 Blargea1 Blargea1 Blargea1 Blargea1 Blargea1"
"Bfooter Bfooter Bfooter Bfooter Bfooter Bfooter Bfooter Bfooter Bfooter Bfooter Bfooter Bfooter ";

height: 100vh;
grid-gap: 10px;

}

.Bsmalla1{

  grid-area: Bsmalla1;
  background-color: red;

}

.Bmeda1{

  grid-area: Bmeda1;
  background-color: orange;

}

.Bsmalla2{

  grid-area: Bsmalla2;
  background-color: yellow;

}

.Bheadera1{

  grid-area: Bheadera1;
  background-color: green;

}

.Bimga1{

  grid-area: Bimga1;
  background-color: blue;

}

.Bmaina1{

  grid-area: Bmaina1;
  background-color: indigo;

}

.Bsidebara1{

  grid-area: Bsidebara1;
  background-color: purple;

}

.Bquotea1{

  grid-area: Bquotea1;
  background-color: red;

}

.Bsmallb1{

  grid-area: Bsmallb1;
  background-color: orange;

}

.Bmedb1{

  grid-area: Bmedb1;
  background-color: yellow;

}

.Bsmallb2{

  grid-area: Bsmallb2;
  background-color: green;

}

.Blargea1{

  grid-area: Blargea1;
  background-color: blue;

}

.Bfooter{

  grid-area: Bfooter;
  background-color: indigo;

}

/*

Responsive

*/

@media (max-width: 1000px){
  .Bcontainer{

    background-color: slategray;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 4fr 4fr 4fr 4fr 4fr 8fr 4fr 4fr 4fr 4fr 4fr 2fr;

    grid-template-areas: 
    "Bsmalla1"
    "Bmeda1"
    "Bsmalla2"
    "Bheadera1"
    "Bimga1"
    "Bmaina1"
    "Bsidebara1"
    "Bquotea1"
    "Bsmallb1"
    "Bmedb1"
    "Bsmallb2"
    "Blargea1"
    "Bfooter";

    height: 100vh;
    grid-gap: 0px;


  }
}