
header{
  text-align: center;
}

.hidden{
  visibility: hidden;
}

.containera {  
  margin: auto;
  width: 85%;
  display: grid;
  grid-template-columns: 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333%;
  grid-template-rows: 250px 250px 250px 250px 250px 62.5px;
  grid-auto-flow: row;
  grid-template-areas:
    "headera headera headera headera headera headera headera headera headera headera headera headera"
    "sidebaraa1 sidebaraa1 sidebaraa1 sidebaraa1 sidebaraa1 sidebaraa1 sidebaraa2 sidebaraa2 sidebaraa2 sidebaraa2 sidebaraa2 sidebaraa2"
    "mainaa mainaa mainaa mainaa mainaa mainaa mainaa mainaa mainaa asidea asidea asidea"
    "sidebarab1 sidebarab1 sidebarab1 sidebarab1 sidebarab2 sidebarab2 sidebarab2 sidebarab2 sidebarab3 sidebarab3 sidebarab3 sidebarab3"
    "mainab mainab mainab mainab mainab mainab mainab mainab mainab mainab mainab mainab"
    "footera footera footera footera footera footera footera footera footera footera footera footera";
}

.headera, .sidebaraa1, .sidebaraa2, .mainaa, .asidea, .sidebarab1, .sidebarab2, .sidebarab3, .mainab {
  text-align: center;
  display: inline-block;
  line-height: 250px;
}

.headera { 
  grid-area: headera;
  background-color: lightcoral; 
}

.sidebaraa1 { 
  grid-area: sidebaraa1;
  background-color: aquamarine;
}

.sidebaraa2 { 
  grid-area: sidebaraa2; 
  background-color: cornflowerblue;
}

.mainaa { 
  grid-area: mainaa; 
  background-color: lemonchiffon;
}

.asidea {
   grid-area: asidea; 
   background-color: lavenderblush;
}

.sidebarab1 { 
  grid-area: sidebarab1; 
  background-color: indianred;
}

.sidebarab2 { 
  grid-area: sidebarab2; 
  background-color: royalblue;
}

.sidebarab3 { 
  grid-area: sidebarab3; 
  background-color: honeydew;
}


.mainab {
  grid-area: mainab; 
  background-color: wheat;
}

.footera { 
  grid-area: footera; 
  text-align: center;
  display: inline-block;
  line-height: 62.5px;
  background-color: steelblue;
}

/*other grid*/
.containerb {  
  margin: auto;
  width: 85%;
  display: grid;
  grid-template-columns: 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333%;
  grid-template-rows: 250px 250px 250px 250px 250px 62.5px;
  grid-auto-flow: row;
  grid-template-areas:
    "smallba1 smallba1 smallba1 medba1 medba1 medba1 medba1 medba1 medba1 smallba2 smallba2 smallba2"
    "headerba1 headerba1 headerba1 headerba1 headerba1 headerba1 headebra1 headerba1 headebra1 headerba1 imgba1 imgba1"
    "mainba1 mainba1 mainba1 mainba1 mainba1 mainba1 mainba1 mainba1 mainba1 sidebarba1 sidebarba1 sidebarba1"
    "quoteba1 quoteba1 quoteba1 quoteba1 quoteba1 quoteba1 quoteba1 quoteba1 quoteba1 sidebarba1 sidebarba1 sidebarba1"
    "smallbb1 smallbb1 medbb1 medbb1 medbb1 smallbb2 smallbb2 largeba1 largeba1 largeba1 largeba1 largeba1"
    "footerb footerb footerb footerb footerb footerb footerb footerb footerb footerb footerb footerb";
    background-color: lime;
}


.smallba1, .medba1, .smallba2, .headerba1, .imgba1, .mainba1, .sidebarba1, .quoteba1, .smallbb1, .medbb1, .smallbb2, .largeba1 {
  text-align: center;
  display: inline-block;
  line-height: 250px;
  border: 5px;
  border-color: lime;
}

.smallba1 { 
  grid-area: smallba1; 
  background-color: red;
}





.medba1 { 
  grid-area: medba1; 
  background-color: blue;
}

.smallba2 { 
  grid-area: smallba2; 
  background-color: yellow;
}

.headerba1 { 
  grid-area: headerba1; 
  background-color: green;
}

.imgba1 { 
  grid-area: imgba1; 
  background-color: orange;
}

.mainba1 { 
  grid-area: mainba1; 
  background-color: purple;
}

.sidebarba1 { 
  grid-area: sidebarba1; 
  background-color: paleturquoise;
}

.quoteba1 { 
  grid-area: quoteba1; 
  background-color: gray;
}

.smallbb1 { 
  grid-area: smallbb1; 
  background-color: azure;
}

.medbb1 { 
  grid-area: medbb1; 
  background-color: lightcoral;
}

.smallbb2 { 
  grid-area: smallbb2; 
  background-color: mediumpurple;
}

.largeba1 { 
  grid-area: largeba1; 
  background-color: olive;
}

.footerb { 
  grid-area: footerb; 
  text-align: center;
  display: inline-block;
  line-height: 62.5px;
  border: 5px;
  border-color: lime;
  background-color: pink;

}