/*
DIMENSIONS
    ROW 1:
        Header Box (class="header") | w:1920 (100%) h:593
    ROW 2:
        Sidebar 1 Box (class="sidebara1") | w:960 (50%) h:593
        Sidebar 2 Box (class="sidebara2") | w:960 (50%) h:593
    ROW 3:
        Main Box (class="maina") | w:1440 (75%) h:593
        Aside Box (class="aside" | w:480 (25%) h:593
    ROW 4:
        Sidebar 1 Box (class="sidebarb1") | w:643 (33%) h:658
        Sidebar 2 Box (class="sidebarb2") | w:642 (33%) h:658
        Sidebar 3 Box (class="sidebarb3") | w:643 (33%) h:658
    ROW 5:
        Main Box (class="mainb") | w:1920 (100%) h:593
    ROW 6:
        Footer Box (class="footer") | w:1920 (100%) h:161
*/

/*simple grid*/

.containera {  
  margin: auto;
  width: 85%;
  display: grid;
  grid-template-columns: 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333%;
  grid-template-rows: 250px 250px 250px 250px 250px 62.5px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "headera headera headera headera headera headera headera headera headera headera headera headera"
    "sidebaraa1 sidebaraa1 sidebaraa1 sidebaraa1 sidebaraa1 sidebaraa1 sidebaraa2 sidebaraa2 sidebaraa2 sidebaraa2 sidebaraa2 sidebaraa2"
    "mainaa mainaa mainaa mainaa mainaa mainaa mainaa mainaa mainaa asidea asidea asidea"
    "sidebarab1 sidebarab1 sidebarab1 sidebarab1 sidebarab2 sidebarab2 sidebarab2 sidebarab2 sidebarab3 sidebarab3 sidebarab3 sidebarab3"
    "mainab mainab mainab mainab mainab mainab mainab mainab mainab mainab mainab mainab"
    "footera footera footera footera footera footera footera footera footera footera footera footera";
}

.headera, .sidebaraa1, .sidebaraa2, .mainaa, .asidea, .sidebarab1, .sidebarab2, .sidebarab3, .mainab {
  text-align: center;
  display: inline-block;
  line-height: 250px;
}

.headera { 
  grid-area: headera;
  background-color: lightcoral; 
}

.sidebaraa1 { 
  grid-area: sidebaraa1;
  background-color: aquamarine;
}

.sidebaraa2 { 
  grid-area: sidebaraa2; 
  background-color: cornflowerblue;
}

.mainaa { 
  grid-area: mainaa; 
  background-color: lemonchiffon;
}

.asidea {
   grid-area: asidea; 
   background-color: lavenderblush;
}

.sidebarab1 { 
  grid-area: sidebarab1; 
  background-color: indianred;
}

.sidebarab2 { 
  grid-area: sidebarba2; 
  background-color: royalblue;
}

.sidebarab3 { 
  grid-area: sidebarab3; 
  background-color: honeydew;
}


.mainab {
  grid-area: mainab; 
  background-color: wheat;
}

.footera { 
  grid-area: footera; 
  text-align: center;
  display: inline-block;
  line-height: 62.5px;
  background-color: steelblue;
}

/*other grid*/
.containerb {  
  margin: auto;
  width: 85%;
  display: grid;
  grid-template-columns: 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333% 7.08333333%;
  grid-template-rows: 250px 250px 250px 250px 250px 62.5px;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "smalla1 smalla1 smalla1 meda1 meda1 meda1 meda1 meda1 meda1 smalla2 smalla2 smalla2"
    "headera1 headera1 headera1 headera1 headera1 headera1 headera1 headera1 headera1 headera1 imga1 imga1"
    "maina1 maina1 maina1 maina1 maina1 maina1 maina1 maina1 maina1 sidebara1 sidebara1 sidebara1"
    "quotea1 quotea1 quotea1 quotea1 quotea1 quotea1 quotea1 quotea1 quotea1 sidebara1 sidebara1 sidebara1"
    "smallb1 smallb1 medb1 medb1 medb1 smallb2 smallb2 largea1 largea1 largea1 largea1 largea1"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.footer { grid-area: footer; }

.smalla1 { grid-area: smalla1; }

.meda1 { grid-area: meda1; }

.smalla2 { grid-area: smalla2; }

.headera1 { grid-area: headera1; }

.imga1 { grid-area: imga1; }

.maina1 { grid-area: maina1; }

.quotea1 { grid-area: quotea1; }

.sidebara1 { grid-area: sidebara1; }

.smallb1 { grid-area: smallb1; }

.medb1 { grid-area: medb1; }

.smallb2 { grid-area: smallb2; }

.largea1 { grid-area: largea1; }
